<!DOCTYPE html>
<html>
    <header>
        <title>MoviesAPI Documentation</title>
    </header>
    <body>
        <h2 id="documentation">Documentation</h2>
        <h3 id="-get-api-movie"><code>GET</code> /api/movie</h3>
        <h4 id="query-parameters">Query parameters</h4>
        <table>
        <thead>
        <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>movie_name (Optional)</td>
        <td>String</td>
        <td>Get a movie by its name</td>
        </tr>
        </tbody>
        </table>
        <p>If no parameters are specified a random movie will be returned.</p>
        <h4 id="response-fields">Response fields</h4>
        <table>
        <thead>
        <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>movie_name</td>
        <td>String</td>
        <td>The name of the movie</td>
        </tr>
        <tr>
        <td>movie_desc</td>
        <td>String</td>
        <td>A brief description of the movie</td>
        </tr>
        </tbody>
        </table>
        <h4 id="example">Example</h4>
        <p>soon</p>
        <hr>
        <h3 id="-get-api-movies"><code>GET</code> /api/movies</h3>
        <h4 id="query-parameters">Query parameters</h4>
        <table>
        <thead>
        <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>max_movies (Optional)</td>
        <td>Integer</td>
        <td>Specify the maximum number of movies returned</td>
        </tr>
        </tbody>
        </table>
        <h4 id="response-fields">Response fields</h4>
        <table>
        <thead>
        <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>movie_name</td>
        <td>String</td>
        <td>The name of the movie</td>
        </tr>
        <tr>
        <td>movie_desc</td>
        <td>String</td>
        <td>A brief description of the movie</td>
        </tr>
        </tbody>
        </table>
        <h4 id="example">Example</h4>
        <p>soon</p>          
    </body>
</html>